# AWS
awswrangler
boto3

# Testing and config
pytest
pyyaml
ruff

# Data handling
pandas
polars
pyarrow

# Excel I/O
fastexcel
openpyxl
xlsxwriter

# SQL engine
duckdb

# Packaging and tooling
pathspec
pre-commit
python-dateutil
setuptools
wheel

# Proyect
Pillow
python-dotenv
pydantic
rich

#local test
ollama
pytesseract